<% if signed_in? %>
  <ul>
    <% flash.each do |msg_key, msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <div class="wide-form">
    <%= form_for :list, url: createlist_path do |f| %>
      <%= f.label "List name" %>
      <%= f.text_field :name %>
      
      <%= f.submit "Create list" %>
    <% end %>
  </div>
  
  <ul id="list-container">
    <% @lists.each do |list| %>
      <li class="list-item"><%= list.name %></li>
      <li class="li-delete"><%= link_to "Remove list", remove_list_path(list.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to delete this list?" } %></li>
    <% end %>
  </ul>
<% end %>