<% provide(:title, format_title("Sign In")) %>

<h1>Sign in to your account</h1>

<ul>
  <% flash.each do |msg_key, msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<div class="wide-form">
  <%= form_for :session, url: signin_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.submit "Sign In" %>
  <% end %>
  
</div>

<p class="sign-in-up-link">Need an account?  <%= link_to "Sign up here", new_user_path %></p>
