<h1><%= @task_list.name %>s tasks</h1>

<ul>
  <% flash.each do |msg_key, msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<a href="#add-task-form" class="toggle btn btn-primary btn-xs">Add a new task</a>

<div class="wide-form hidden" id="add-task-form">
  <%= form_for :task, url: create_task_path do |f| %>
    <%= f.hidden_field :list_id, value: @task_list.id %>
  
    <%= f.label "Task name" %>
    <%= f.text_field :name %>
    
    <%= f.submit "Create task" %>
  
  <% end %>
</div>

<% if @tasks.any? %>
  <ul id="list-container">
    <% @tasks.each do |task| %>
      <div class="task-item">
        <li class="task-name"><%= task.name %></li>
        <li class="task-delete"><%= link_to image_tag('trash.png'), remove_task_path(task.id),
                                    method: :delete, 
                                    data: { confirm: "Are you sure you want to delete this task?" } %></li>
        <% if task.completed == true %>
          <li class="task-complete"><%= link_to image_tag('checkmark.png'), mark_task_path(task.id), method: :patch %></li>
        <% else %>
          <li class="task-complete"><%= link_to image_tag('checkmark.png'), mark_task_path(task.id), method: :patch, class: "uncomplete" %></li>
        <% end %>
      </div>
    <% end %>
  </ul>
<% end %>

